$ff: 'Montserrat', sans-serif;
$bl: #333;
$wh: #fff;
$gray: #929292;
$b-gray: #ECECEC;
$lgray: #FCFDFC;
$green: #3EA433;
$dgreen: #237A1A;
$blue: #3F88AD;
$lblue: #F6FAFC;

$maxWidth: 1440;
@mixin adaptive-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}